<a href="https://colab.research.google.com/github/data602sps/assignments/blob/master/05_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 8**

# **Weeks 10 & 11 - matplotlib & seaborn**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 


* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  


### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://www.oreilly.com/library/view/python-data-science/9781491912126/ch04.html

•	https://www.data-to-viz.com/



### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

#### This dataset is owned by New York City Department of Education. This is the total enrollment count for students whose learning preference is remote or blended or missing and who have attended school in person at least once since September 16, 2020. I am interested in analyzing this dataset because there is a major shift from in-person schooling to remote learning since the Covid-19 phase, and I would like to know real statistics behind it.

Data Source: https://catalog.data.gov/dataset/learning-preference-city-remote-learning-as-of-jan-4-2021

About dataset: https://data.cityofnewyork.us/Education/Learning-Preference-City-Remote-Learning-as-of-Jan/k5d2-tkrr

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

### Importing Libraries

#### The first step is to import Pandas and NumPy libraries for data exploration, cleaning and manipulation.

In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import warnings
warnings.filterwarnings('ignore')

#### Importing CSV data file into pandas dataframe

Defining the path for reading the CSV file. 

Using Pandas "read_csv" function to read the file into Pandas dataframe.

And by passing the limit to view 5 row in the "head() function.

Similarly, viewing the last 5 rows using the "tail()" function.

In [3]:
csv_path = '/content/learning_preference.csv'
learning_df = pd.read_csv(csv_path, encoding="utf-8")
learning_df.head(5)

,District,Disaggregation Category,Category,# Total Enrollment,# Blended,% Blended,# Remote,% Remote
0,1,All District,All District,10549,"3,035",28.8%,7514,71.2%
1,1,English Language Learner Status,ELL,908,235,25.9%,673,74.1%
2,1,English Language Learner Status,Not ELL,9641,"2,800",29.0%,6841,71.0%
3,1,Gender,Female,5042,"1,455",28.9%,3587,71.1%
4,1,Gender,Male,5507,"1,580",28.7%,3927,71.3%

In [5]:
learning_df.tail(5)

,District,Disaggregation Category,Category,# Total Enrollment,# Blended,% Blended,# Remote,% Remote
871,79,Race or Ethnicity,Black,1878,539,28.7%,1339,71.3%
872,79,Race or Ethnicity,Hispanic,2450,642,26.2%,1808,73.8%
873,79,Race or Ethnicity,Multi-Racial,25,5,20.0%,20,80.0%
874,79,Race or Ethnicity,Native American,64,21,32.8%,43,67.2%
875,79,Race or Ethnicity,White,359,95,26.5%,264,73.5%

#### Now previewing the data by calling the dataframe using "info()" function and finding the number of cloumns and rows.

This function provides the total number of rows and columns as well as the datatype of each column. 

Also, we are able to see the count of non-null values, which will help us further investigate the missing, or unexpected values in our dataset.

In [6]:
learning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876 entries, 0 to 875
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   District                 876 non-null    int64
 1   Disaggregation Category  876 non-null    object
 2   Category                 876 non-null    object
 3   # Total Enrollment       876 non-null    int64
 4   # Blended                876 non-null    object
 5   % Blended                876 non-null    object
 6   # Remote                 876 non-null    object
 7   % Remote                 876 non-null    object
dtypes: int64(2), object(6)
memory usage: 54.9+ KB

### The "shape" method provide the row and column count.

In [7]:
learning_df.shape

(876, 8)

#### Checking the datatype of columns

In [9]:
learning_df.dtypes

District                    int64
Disaggregation Category    object
Category                   object
# Total Enrollment          int64
# Blended                  object
% Blended                  object
# Remote                   object
% Remote                   object
dtype: object

#### Finding the null values in the dataset

In [11]:
for column in learning_df.columns:
    print(f"Column {column} has {learning_df[column].isnull().sum()} null values")

Column District has 0 null values
Column Disaggregation Category has 0 null values
Column Category has 0 null values
Column # Total Enrollment has 0 null values
Column # Blended has 0 null values
Column % Blended has 0 null values
Column # Remote has 0 null values
Column % Remote has 0 null values

#### Finding the missing values in the dataset

In [12]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [13]:
missing_values_table(learning_df)

Your selected dataframe has 8 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

# Data Wrangling

Perform data wrangling.  You are free to use your best judgment here.  If you are stuck, look at previous assignment.

#### Rename the column names of the dataframe

In [14]:
learning_df.columns

Index(['District', 'Disaggregation Category', 'Category', '# Total Enrollment',
       '# Blended', '% Blended', '# Remote', '% Remote'],
      dtype='object')

In [16]:
learning_df.rename(columns = {'Disaggregation Category':'Disaggregation_Category', '# Total Enrollment':'Total_Enrollment', '# Blended': 'Total_Blended', '% Blended': 'percentage_Blended', '# Remote': 'Total_Remote', '% Remote': 'percentage_Remote'}, inplace = True)
learning_df.columns

Index(['District', 'Disaggregation_Category', 'Category', 'Total_Enrollment',
       'Total_Blended', 'percentage_Blended', 'Total_Remote',
       'percentage_Remote'],
      dtype='object')

#### Convert column names to lower case

In [19]:
# Map the lowering function to all column names
learning_df.columns = map(str.lower, learning_df.columns)
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,"3,035",28.8%,7514,71.2%
1,1,English Language Learner Status,ELL,908,235,25.9%,673,74.1%
2,1,English Language Learner Status,Not ELL,9641,"2,800",29.0%,6841,71.0%
3,1,Gender,Female,5042,"1,455",28.9%,3587,71.1%
4,1,Gender,Male,5507,"1,580",28.7%,3927,71.3%

#### Remove the comma and percentage sign from the column values

In [20]:
# To remove comma from column values in Pandas DataFrame:
learning_df['total_blended'] = learning_df['total_blended'].str.replace(',','')
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,3035,28.8%,7514,71.2%
1,1,English Language Learner Status,ELL,908,235,25.9%,673,74.1%
2,1,English Language Learner Status,Not ELL,9641,2800,29.0%,6841,71.0%
3,1,Gender,Female,5042,1455,28.9%,3587,71.1%
4,1,Gender,Male,5507,1580,28.7%,3927,71.3%

In [21]:
# To remove percentage from column values in Pandas DataFrame:
learning_df['percentage_blended'] = learning_df['percentage_blended'].str.replace('%','')
learning_df['percentage_remote'] = learning_df['percentage_remote'].str.replace('%','')
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,3035,28.8,7514,71.2
1,1,English Language Learner Status,ELL,908,235,25.9,673,74.1
2,1,English Language Learner Status,Not ELL,9641,2800,29.0,6841,71.0
3,1,Gender,Female,5042,1455,28.9,3587,71.1
4,1,Gender,Male,5507,1580,28.7,3927,71.3

#### Convert the "total_blended" and "total_remote" data type from object to integer.

In [31]:
# Before convert multiple columns to int datatype, check the values if and other values are there which will block the conversion.
# We found that there is "s" in the values which can't be converted to integer. So first fix the issue.

learning_df['total_blended'].values.tolist()
learning_df['total_remote'].values.tolist()

['7514',
 '673',
 '6841',
 '3587',
 '3927',
 '193',
 '390',
 '461',
 '491',
 '503',
 '489',
 '559',
 '587',
 '604',
 '608',
 '628',
 '756',
 '650',
 '595',
 '1751',
 '1126',
 '3108',
 '244',
 '42',
 '19',
 '1224',
 '40009',
 '3230',
 '36779',
 '21189',
 '18820',
 '659',
 '989',
 '1103',
 '1048',
 '1132',
 '1110',
 '1068',
 '1333',
 '1564',
 '1598',
 '7265',
 '7540',
 '7182',
 '6418',
 '10240',
 '6226',
 '14830',
 '1030',
 '265',
 '497',
 '6921',
 '11840',
 '553',
 '11287',
 '6530',
 '5310',
 '197',
 '418',
 '512',
 '454',
 '441',
 '548',
 '570',
 '709',
 '828',
 '819',
 '1322',
 '1880',
 '1582',
 '1560',
 '1203',
 '2653',
 '4607',
 '366',
 '87',
 '245',
 '2679',
 '8005',
 '695',
 '7310',
 '4297',
 '3708',
 '388',
 '394',
 '416',
 '473',
 '465',
 '510',
 '585',
 '663',
 '646',
 '642',
 '665',
 '742',
 '710',
 '706',
 '962',
 '1880',
 '4594',
 '92',
 '85',
 '44',
 '348',
 '6734',
 '496',
 '6238',
 '3060',
 '3674',
 '253',
 '273',
 '317',
 '354',
 '377',
 '394',
 '452',
 '467',
 '468',
 '549',
 '740',
 '755',
 '661',
 '674',
 '298',
 '3070',
 '2758',
 '65',
 '63',
 '84',
 '396',
 '13379',
 '3220',
 '10159',
 '6643',
 '6736',
 '521',
 '687',
 '750',
 '728',
 '837',
 '939',
 '947',
 '1025',
 '1067',
 '1137',
 '1440',
 '1159',
 '1022',
 '1120',
 '207',
 '1082',
 '11415',
 '90',
 '40',
 '42',
 '503',
 '11066',
 '1457',
 '9609',
 '5248',
 '5818',
 '467',
 '443',
 '541',
 '580',
 '634',
 '615',
 '724',
 '739',
 '750',
 '756',
 '1273',
 '1355',
 '1168',
 '1021',
 '151',
 '2858',
 '7700',
 '46',
 '108',
 '28',
 '175',
 '17497',
 '2133',
 '15364',
 '8607',
 '8890',
 '667',
 '1035',
 '1136',
 '1162',
 '1214',
 '1345',
 '1433',
 '1362',
 '1474',
 '1531',
 '1296',
 '1483',
 '1234',
 '1125',
 '1409',
 '3490',
 '11350',
 '77',
 '237',
 '14',
 '920',
 '20207',
 '4068',
 '16139',
 '10097',
 '10110',
 '688',
 '1061',
 '1271',
 '1357',
 '1506',
 '1538',
 '1613',
 '1596',
 '1772',
 '1810',
 '1541',
 '1677',
 '1444',
 '1333',
 '286',
 '5040',
 '14408',
 '40',
 '139',
 '23',
 '271',
 '33938',
 '6572',
 '27366',
 '16600',
 '17338',
 '574',
 '1776',
 '2029',
 '2179',
 '2323',
 '2466',
 '2468',
 '2542',
 '2538',
 '2646',
 '3221',
 '3258',
 '3025',
 '2893',
 '3297',
 '4904',
 '23602',
 '207',
 '301',
 '68',
 '1559',
 '23199',
 '2609',
 '20590',
 '11167',
 '12032',
 '309',
 '1331',
 '1525',
 '1714',
 '1765',
 '1825',
 '1948',
 '1929',
 '1987',
 '2084',
 '1922',
 '1823',
 '1555',
 '1482',
 '2303',
 '8184',
 '10512',
 '174',
 '327',
 '45',
 '1654',
 '12316',
 '2246',
 '10070',
 '6156',
 '6160',
 '265',
 '678',
 '862',
 '819',
 '918',
 '983',
 '1080',
 '1012',
 '1072',
 '1082',
 '823',
 '959',
 '949',
 '814',
 '422',
 '2849',
 '8622',
 '43',
 '166',
 '20',
 '194',
 '14568',
 '455',
 '14113',
 '6804',
 '7764',
 '252',
 '464',
 '444',
 '478',
 '535',
 '502',
 '531',
 '488',
 '504',
 '504',
 '2362',
 '2679',
 '2459',
 '2366',
 '3916',
 '5716',
 '2338',
 '282',
 '129',
 '183',
 '2004',
 '10800',
 '970',
 '9830',
 '5208',
 '5592',
 '332',
 '553',
 '558',
 '590',
 '606',
 '630',
 '673',
 '714',
 '806',
 '771',
 '1188',
 '1227',
 '1114',
 '1038',
 '827',
 '2372',
 '6179',
 '161',
 '77',
 '87',
 '1097',
 '16363',
 '2478',
 '13885',
 '8262',
 '8101',
 '526',
 '1213',
 '1305',
 '1317',
 '1363',
 '1401',
 '1282',
 '1225',
 '1317',
 '1303',
 '935',
 '1234',
 '1061',
 '881',
 '3820',
 '2757',
 '5749',
 '460',
 '67',
 '104',
 '3406',
 '3839',
 '165',
 '3674',
 '1824',
 '2015',
 '271',
 '251',
 '248',
 '266',
 '266',
 '258',
 '316',
 '254',
 '216',
 '225',
 '268',
 '320',
 '343',
 '337',
 '81',
 '2779',
 '799',
 '24',
 '40',
 '15',
 '101',
 '12904',
 '1068',
 '11836',
 '6614',
 '6290',
 '250',
 '499',
 '622',
 '562',
 '693',
 '732',
 '747',
 '959',
 '1113',
 '1123',
 '1467',
 '1444',
 '1326',
 '1367',
 '417',
 '9618',
 '2186',
 '86',
 '174',
 '65',
 '358',
 '8261',
 '451',
 '7810',
 '3991',
 '4270',
 '229',
 '466',
 '437',
 '469',
 '596',
 '601',
 '659',
 '620',
 '668',
 '750',
 '685',
 '714',
 '644',
 '723',
 '184',
 '6867',
 '808',
 '57',
 '76',
 '25',
 '244',
 '13958',
 '1689',
 '12269',
 '6700',
 '7258',
 '611',
 '749',
 '858',
 '934',
 '971',
 '1034',
 '1102',
 '1028',
 '1143',
 '1210',
 '1148',
 '1218',
 '1006',
 '946',
 '1334',
 '5705',
 '6354',
 '51',
 '233',
 '36',
 '245',
 '35453',
 '8226',
 '27227',
 '17069',
 '18384',
 '702',
 '2334',
 '2553',
 '2407',
 '2813',
 '2640',
 '2551',
 '3005',
 '3079',
 '3194',
 '2697',
 '2834',
 '2422',
 '2222',
 '19620',
 '934',
 '7971',
 '208',
 '129',
 '95',
 '6496',
 '24643',
 '4341',
 '20302',
 '12202',
 '12441',
 '496',
 '1061',
 '1278',
 '1274',
 '1289',
 '1379',
 '1343',
 '2043',
 '2186',
 '2215',
 '2830',
 '2885',
 '2184',
 '2180',
 '7469',
 '3701',
 '6023',
 '192',
 '200',
 '239',
 '6819',
 '21194',
 '2109',
 '19085',
 '10690',
 '10504',
 '571',
 '1160',
 '1264',
 '1325',
 '1385',
 '1455',
 '1538',
 '1220',
 '1338',
 '1504',
 '2017',
 '2230',
 '2137',
 '2050',
 '5711',
 '6130',
 '3246',
 '239',
 '195',
 '142',
 '5531',
 '5180',
 '215',
 '4965',
 '2323',
 '2857',
 '337',
 '335',
 '358',
 '385',
 '395',
 '400',
 '449',
 '471',
 '534',
 '569',
 '275',
 '239',
 '222',
 '211',
 '69',
 '3808',
 '1140',
 '36',
 '59',
 '3',
 '65',
 '29569',
 '5825',
 '23744',
 '14431',
 '15138',
 '579',
 '1834',
 '1842',
 '2013',
 '2174',
 '2240',
 '2286',
 '2362',
 '2608',
 '2646',
 '2298',
 '2355',
 '2131',
 '2201',
 '7663',
 '880',
 '17511',
 '129',
 '193',
 '175',
 '3018',
 '25840',
 '5204',
 '20636',
 '12709',
 '13131',
 '759',
 '1750',
 '1830',
 '1828',
 '1983',
 '1915',
 '1772',
 '1938',
 '2023',
 '2086',
 '1982',
 '2191',
 '2052',
 '1731',
 '14741',
 '1748',
 '6837',
 '223',
 '167',
 '203',
 '1921',
 '23072',
 '2262',
 '20810',
 '11338',
 '11734',
 '435',
 '991',
 '1040',
 '1067',
 '1132',
 '1102',
 '1112',
 '1274',
 '1423',
 '1575',
 '3251',
 '3084',
 '2905',
 '2681',
 '13481',
 '2596',
 '3861',
 '270',
 '292',
 '103',
 '2469',
 '29966',
 '2985',
 '26981',
 '14385',
 '15581',
 '1729',
 '1722',
 '1931',
 '2045',
 '2031',
 '2191',
 '2177',
 '2362',
 '2536',
 '2625',
 '2259',
 '2332',
 '1980',
 '2046',
 '7791',
 '6769',
 '11705',
 '260',
 '1604',
 '131',
 '1706',
 '28537',
 '2737',
 '25800',
 '14393',
 '14144',
 '632',
 '1403',
 '1611',
 '1512',
 '1532',
 '1598',
 '1621',
 '1682',
 '1869',
 '1828',
 '3421',
 '3422',
 '3278',
 '3128',
 '9897',
 '5412',
 '7830',
 '443',
 '1272',
 '295',
 '3388',
 '16910',
 '1427',
 '15483',
 '8166',
 '8744',
 '493',
 '1242',
 '1394',
 '1451',
 '1490',
 '1527',
 '1645',
 '1515',
 '1526',
 '1628',
 '795',
 '805',
 '715',
 '684',
 '3398',
 '9404',
 '2761',
 '186',
 '786',
 '64',
 '311',
 '21597',
 '3141',
 '18456',
 '10923',
 '10674',
 '581',
 '1197',
 '1303',
 '1313',
 '1351',
 '1385',
 '1554',
 '1755',
 '1854',
 '1974',
 '1954',
 '1893',
 '1736',
 '1747',
 '5596',
 '1648',
 '10437',
 '303',
 '182',
 '106',
 '3325',
 '35041',
 '2417',
 '32624',
 '17326',
 '17715',
 '1139',
 '1724',
 '2020',
 '1895',
 '2119',
 '2169',
 '2218',
 '2355',
 '2608',
 '2604',
 '3576',
 '3682',
 '3642',
 '3290',
 '6351',
 '4407',
 '10418',
 '542',
 '184',
 '168',
 '12971',
 '6020',
 '1049',
 '4971',
 '2928',
 '3092',
 '203',
 '252',
 '323',
 '317',
 '343',
 '360',
 '443',
 '571',
 '593',
 '613',
 '495',
 '556',
 '517',
 '434',
 '167',
 '1134',
 '4497',
 '13',
 '32',
 '23',
 '154',
 '15452',
 '3454',
 '11998',
 '4197',
 '11255',
 '142',
 '861',
 '987',
 '945',
 '1065',
 '991',
 '1076',
 '1048',
 '1166',
 '1048',
 '1207',
 '1159',
 '932',
 '2825',
 '1651',
 '5457',
 '6531',
 '124',
 '267',
 '9',
 '1413',
 '3865',
 '548',
 '3317',
 '1569',
 '2296',
 's',
 's',
 '92',
 '170',
 '3281',
 '86',
 '231',
 '391',
 '1339',
 '1808',
 '20',
 '43',
 '264']

#### Replace "s" with 0 in the columns "total_blended" and "total_remote"

In [32]:
learning_df['total_blended'] = learning_df['total_blended'].replace('s', '0') 
learning_df['total_remote'] = learning_df['total_remote'].replace('s', '0')  
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,3035,28.8,7514,71.2
1,1,English Language Learner Status,ELL,908,235,25.9,673,74.1
2,1,English Language Learner Status,Not ELL,9641,2800,29.0,6841,71.0
3,1,Gender,Female,5042,1455,28.9,3587,71.1
4,1,Gender,Male,5507,1580,28.7,3927,71.3

#### Now convert the "total_blended" and "total_remote" object column to integer data type

In [34]:
learning_df['total_blended'] = learning_df['total_blended'].astype(str).astype(int)
learning_df['total_remote'] = learning_df['total_remote'].astype(str).astype(int)
learning_df.dtypes

district                    int64
disaggregation_category    object
category                   object
total_enrollment            int64
total_blended               int64
percentage_blended         object
total_remote                int64
percentage_remote          object
dtype: object

#### Now checking the values of the'percentage_blended' and "percentage_remote" columns.

In [36]:
learning_df['percentage_blended'].values.tolist()
learning_df['percentage_remote'].values.tolist()

['71.2',
 '74.1',
 '71.0',
 '71.1',
 '71.3',
 '52.7',
 '53.6',
 '60.5',
 '66.2',
 '64.2',
 '63.3',
 '71.0',
 '78.0',
 '80.3',
 '80.7',
 '75.0',
 '84.9',
 '78.5',
 '74.7',
 '79.7',
 '71.3',
 '71.5',
 '62.9',
 '73.7',
 '67.9',
 '62.8',
 '67.5',
 '67.2',
 '67.5',
 '68.5',
 '66.4',
 '38.1',
 '37.0',
 '42.2',
 '42.1',
 '43.8',
 '44.0',
 '43.2',
 '50.8',
 '59.4',
 '59.7',
 '79.7',
 '84.0',
 '84.4',
 '83.6',
 '78.1',
 '75.4',
 '75.9',
 '49.0',
 '75.7',
 '72.3',
 '45.3',
 '58.1',
 '58.8',
 '58.1',
 '59.2',
 '56.9',
 '40.5',
 '35.9',
 '43.0',
 '39.6',
 '39.3',
 '46.4',
 '45.5',
 '53.6',
 '61.7',
 '57.5',
 '65.4',
 '76.3',
 '76.1',
 '72.0',
 '61.0',
 '68.4',
 '69.9',
 '43.5',
 '71.3',
 '56.6',
 '41.1',
 '68.2',
 '58.6',
 '69.3',
 '70.2',
 '66.1',
 '59.8',
 '55.3',
 '58.8',
 '61.3',
 '63.8',
 '65.8',
 '67.2',
 '67.9',
 '68.4',
 '67.3',
 '72.6',
 '79.6',
 '79.0',
 '78.5',
 '83.4',
 '68.3',
 '66.9',
 '56.8',
 '68.5',
 '73.3',
 '56.9',
 '72.8',
 '63.1',
 '73.7',
 '71.5',
 '73.9',
 '51.4',
 '55.3',
 '56.3',
 '61.8',
 '65.2',
 '61.9',
 '65.6',
 '70.2',
 '72.9',
 '78.3',
 '82.6',
 '88.7',
 '90.7',
 '91.3',
 '82.1',
 '72.6',
 '73.4',
 '65.0',
 '74.1',
 '91.3',
 '63.6',
 '69.9',
 '65.0',
 '71.6',
 '70.9',
 '69.0',
 '55.3',
 '52.7',
 '56.0',
 '52.2',
 '58.6',
 '61.7',
 '62.3',
 '73.7',
 '74.9',
 '74.1',
 '89.7',
 '88.1',
 '89.6',
 '87.4',
 '69.5',
 '78.7',
 '71.1',
 '47.9',
 '70.2',
 '72.4',
 '45.6',
 '66.4',
 '54.5',
 '68.6',
 '67.4',
 '65.5',
 '46.6',
 '51.7',
 '56.0',
 '58.2',
 '59.9',
 '58.7',
 '62.6',
 '69.5',
 '72.5',
 '70.1',
 '73.2',
 '74.6',
 '76.9',
 '76.3',
 '76.6',
 '66.0',
 '66.3',
 '71.9',
 '66.7',
 '87.5',
 '65.8',
 '71.6',
 '61.1',
 '73.3',
 '72.0',
 '71.2',
 '61.8',
 '64.2',
 '64.5',
 '65.5',
 '67.0',
 '70.4',
 '70.2',
 '68.8',
 '77.1',
 '74.9',
 '74.8',
 '80.0',
 '80.7',
 '80.0',
 '83.5',
 '69.6',
 '71.2',
 '77.0',
 '79.3',
 '51.9',
 '66.5',
 '69.4',
 '62.3',
 '71.5',
 '69.9',
 '68.9',
 '57.6',
 '59.4',
 '61.3',
 '63.1',
 '66.1',
 '66.2',
 '67.0',
 '72.0',
 '73.9',
 '74.0',
 '72.5',
 '77.9',
 '79.5',
 '76.6',
 '70.8',
 '66.0',
 '70.7',
 '71.4',
 '72.0',
 '54.8',
 '66.1',
 '70.4',
 '64.8',
 '71.9',
 '70.4',
 '70.4',
 '56.2',
 '56.3',
 '59.7',
 '62.9',
 '62.7',
 '66.0',
 '65.6',
 '69.4',
 '71.7',
 '70.9',
 '78.4',
 '83.6',
 '83.8',
 '84.5',
 '86.0',
 '69.2',
 '70.0',
 '68.5',
 '73.1',
 '66.0',
 '56.3',
 '67.8',
 '60.8',
 '68.8',
 '68.2',
 '67.3',
 '53.8',
 '56.2',
 '60.4',
 '61.7',
 '64.5',
 '65.9',
 '64.9',
 '66.7',
 '67.9',
 '65.7',
 '79.0',
 '79.5',
 '79.8',
 '81.3',
 '74.2',
 '66.8',
 '69.9',
 '67.4',
 '73.3',
 '70.3',
 '53.6',
 '65.8',
 '57.1',
 '68.1',
 '67.1',
 '64.5',
 '49.5',
 '54.4',
 '58.6',
 '57.1',
 '60.4',
 '62.7',
 '63.8',
 '71.3',
 '73.5',
 '72.0',
 '70.5',
 '70.5',
 '77.9',
 '71.9',
 '71.0',
 '64.9',
 '65.6',
 '69.4',
 '72.2',
 '64.5',
 '69.0',
 '72.5',
 '52.3',
 '73.4',
 '71.4',
 '73.4',
 '38.7',
 '44.4',
 '46.7',
 '46.2',
 '52.8',
 '51.8',
 '55.3',
 '71.9',
 '76.1',
 '74.9',
 '82.6',
 '87.9',
 '87.4',
 '86.5',
 '90.7',
 '72.2',
 '66.6',
 '54.5',
 '77.7',
 '90.6',
 '57.8',
 '64.7',
 '56.8',
 '65.6',
 '65.8',
 '63.7',
 '49.8',
 '51.1',
 '53.5',
 '55.4',
 '55.5',
 '56.9',
 '61.0',
 '62.7',
 '68.2',
 '63.9',
 '72.3',
 '78.2',
 '76.5',
 '77.4',
 '80.6',
 '70.5',
 '66.7',
 '58.1',
 '81.1',
 '79.1',
 '42.8',
 '54.5',
 '56.9',
 '54.2',
 '54.9',
 '54.2',
 '40.0',
 '46.9',
 '48.8',
 '49.4',
 '50.6',
 '51.8',
 '48.9',
 '58.6',
 '63.2',
 '58.9',
 '61.5',
 '68.1',
 '67.8',
 '60.5',
 '77.6',
 '69.7',
 '53.1',
 '41.6',
 '47.2',
 '55.6',
 '38.5',
 '65.9',
 '50.5',
 '66.8',
 '65.6',
 '66.1',
 '49.1',
 '55.8',
 '57.0',
 '61.7',
 '58.2',
 '60.0',
 '66.9',
 '72.6',
 '75.0',
 '73.3',
 '68.5',
 '77.5',
 '77.8',
 '81.8',
 '60.4',
 '67.7',
 '64.7',
 '47.1',
 '65.6',
 '83.3',
 '44.1',
 '67.4',
 '54.7',
 '68.8',
 '68.0',
 '66.7',
 '49.4',
 '48.6',
 '55.5',
 '54.5',
 '57.8',
 '62.4',
 '61.2',
 '69.0',
 '75.5',
 '73.3',
 '71.8',
 '77.9',
 '74.9',
 '75.4',
 '68.0',
 '68.7',
 '65.1',
 '59.7',
 '64.2',
 '61.9',
 '53.6',
 '69.3',
 '50.2',
 '70.8',
 '70.2',
 '68.5',
 '54.4',
 '59.7',
 '57.7',
 '59.7',
 '67.9',
 '64.6',
 '64.8',
 '65.7',
 '70.6',
 '70.8',
 '79.1',
 '79.5',
 '83.6',
 '82.8',
 '66.7',
 '69.8',
 '72.0',
 '75.0',
 '67.9',
 '71.4',
 '52.9',
 '71.6',
 '63.2',
 '73.0',
 '72.9',
 '70.5',
 '63.7',
 '60.8',
 '63.4',
 '68.0',
 '67.9',
 '69.9',
 '71.6',
 '72.2',
 '73.1',
 '76.3',
 '72.3',
 '81.1',
 '80.0',
 '79.0',
 '76.8',
 '72.1',
 '70.5',
 '66.2',
 '74.9',
 '62.1',
 '65.2',
 '71.3',
 '69.7',
 '71.8',
 '71.9',
 '70.8',
 '54.7',
 '62.7',
 '67.3',
 '65.4',
 '68.8',
 '67.0',
 '66.2',
 '73.9',
 '77.4',
 '77.5',
 '72.0',
 '78.1',
 '82.1',
 '77.9',
 '88.5',
 '75.7',
 '57.9',
 '62.5',
 '67.2',
 '65.1',
 '54.7',
 '72.1',
 '64.1',
 '74.1',
 '73.1',
 '71.2',
 '56.2',
 '55.1',
 '61.3',
 '62.4',
 '62.3',
 '65.9',
 '64.7',
 '61.9',
 '69.2',
 '69.8',
 '86.9',
 '89.2',
 '89.7',
 '89.7',
 '82.5',
 '82.4',
 '67.9',
 '69.8',
 '73.0',
 '73.8',
 '62.7',
 '66.8',
 '51.0',
 '69.2',
 '68.4',
 '65.3',
 '56.3',
 '51.2',
 '52.9',
 '55.3',
 '55.4',
 '59.2',
 '60.3',
 '62.2',
 '67.6',
 '75.8',
 '76.8',
 '82.4',
 '85.7',
 '85.6',
 '79.7',
 '71.4',
 '65.3',
 '59.2',
 '67.9',
 '82.6',
 '54.6',
 '66.2',
 '51.3',
 '67.1',
 '66.3',
 '66.2',
 '57.8',
 '58.3',
 '63.7',
 '68.6',
 '65.1',
 '66.7',
 '69.8',
 '67.2',
 '71.0',
 '69.6',
 '70.0',
 '68.5',
 '63.6',
 '64.5',
 '64.5',
 '67.3',
 '64.4',
 '65.5',
 '63.4',
 '37.5',
 '50.8',
 '55.7',
 '45.6',
 '58.9',
 '57.2',
 '54.4',
 '39.0',
 '45.0',
 '45.4',
 '47.2',
 '50.3',
 '50.8',
 '52.5',
 '59.0',
 '60.9',
 '61.4',
 '64.2',
 '66.2',
 '69.9',
 '66.5',
 '73.5',
 '65.7',
 '51.9',
 '56.3',
 '61.9',
 '63.2',
 '44.9',
 '72.3',
 '72.5',
 '72.3',
 '72.9',
 '71.8',
 '66.1',
 '65.3',
 '66.5',
 '66.7',
 '69.4',
 '68.7',
 '67.5',
 '69.8',
 '72.0',
 '72.3',
 '80.3',
 '82.6',
 '84.5',
 '81.4',
 '83.6',
 '76.3',
 '61.2',
 '59.2',
 '78.0',
 '88.3',
 '50.4',
 '75.3',
 '77.2',
 '75.1',
 '75.9',
 '74.8',
 '62.9',
 '59.4',
 '61.6',
 '61.4',
 '62.2',
 '64.0',
 '62.2',
 '66.1',
 '71.4',
 '72.8',
 '83.6',
 '90.5',
 '91.6',
 '90.8',
 '81.9',
 '76.9',
 '70.8',
 '60.5',
 '83.4',
 '72.0',
 '56.2',
 '71.6',
 '65.9',
 '72.2',
 '72.0',
 '71.1',
 '62.7',
 '61.3',
 '64.7',
 '67.8',
 '66.7',
 '69.7',
 '68.5',
 '69.3',
 '73.5',
 '71.7',
 '79.2',
 '83.7',
 '83.4',
 '85.2',
 '82.7',
 '77.0',
 '68.8',
 '69.3',
 '83.4',
 '80.4',
 '40.9',
 '74.2',
 '61.9',
 '75.8',
 '75.3',
 '73.1',
 '58.5',
 '55.5',
 '60.7',
 '59.7',
 '61.2',
 '63.8',
 '63.7',
 '67.7',
 '73.3',
 '71.1',
 '88.4',
 '91.8',
 '93.1',
 '92.5',
 '82.2',
 '76.7',
 '70.5',
 '60.4',
 '86.0',
 '88.6',
 '59.3',
 '72.1',
 '60.8',
 '73.4',
 '72.8',
 '71.6',
 '63.0',
 '68.8',
 '70.2',
 '71.3',
 '71.5',
 '72.6',
 '73.5',
 '71.8',
 '70.2',
 '72.2',
 '76.2',
 '78.1',
 '80.2',
 '75.8',
 '83.4',
 '70.5',
 '65.0',
 '77.5',
 '79.2',
 '79.0',
 '66.6',
 '59.5',
 '49.1',
 '61.7',
 '60.6',
 '58.5',
 '45.1',
 '47.2',
 '48.8',
 '49.8',
 '51.6',
 '52.1',
 '55.0',
 '57.5',
 '60.7',
 '62.4',
 '68.9',
 '74.3',
 '79.4',
 '78.7',
 '72.6',
 '72.0',
 '54.6',
 '53.1',
 '72.2',
 '66.3',
 '53.8',
 '58.8',
 '55.4',
 '59.0',
 '59.5',
 '58.1',
 '42.3',
 '42.7',
 '47.8',
 '45.7',
 '48.0',
 '48.4',
 '49.4',
 '54.9',
 '60.1',
 '58.8',
 '74.7',
 '79.3',
 '80.3',
 '79.9',
 '81.8',
 '60.7',
 '59.2',
 '54.7',
 '64.6',
 '59.8',
 '51.0',
 '61.2',
 '46.8',
 '65.5',
 '61.7',
 '60.8',
 '54.1',
 '46.8',
 '49.5',
 '48.5',
 '51.1',
 '53.0',
 '56.1',
 '60.0',
 '61.6',
 '60.0',
 '74.1',
 '81.9',
 '82.9',
 '76.7',
 '76.6',
 '70.8',
 '58.7',
 '72.2',
 '72.7',
 '85.2',
 '58.1',
 '58.7',
 '60.1',
 '58.3',
 '60.7',
 '58.0',
 '34.5',
 '48.9',
 '51.0',
 '49.8',
 '56.6',
 '55.0',
 '57.6',
 '60.3',
 '62.0',
 '61.0',
 '64.4',
 '65.5',
 '64.6',
 '65.0',
 '66.2',
 '59.4',
 '60.6',
 '51.5',
 '63.1',
 '69.2',
 '44.5',
 '72.8',
 '78.3',
 '71.9',
 '76.3',
 '70.6',
 's',
 's',
 '66.2',
 '82.1',
 '81.5',
 '80.4',
 '28.0',
 '73.1',
 '71.3',
 '73.8',
 '80.0',
 '67.2',
 '73.5']

#### Removing the "s" character from the columns so they can be converted from object to integer data type.

In [37]:
learning_df['percentage_blended'] = learning_df['percentage_blended'].replace('s', '0') 
learning_df['percentage_remote'] = learning_df['percentage_remote'].replace('s', '0')  
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,3035,28.8,7514,71.2
1,1,English Language Learner Status,ELL,908,235,25.9,673,74.1
2,1,English Language Learner Status,Not ELL,9641,2800,29.0,6841,71.0
3,1,Gender,Female,5042,1455,28.9,3587,71.1
4,1,Gender,Male,5507,1580,28.7,3927,71.3

#### Now convert the data types of the 'percentage_blended' and 'percentage_remote' columns to integer

In [40]:
learning_df['percentage_blended'] = learning_df['percentage_blended'].astype(str).astype(float)
learning_df['percentage_remote'] = learning_df['percentage_remote'].astype(str).astype(float)
learning_df.dtypes

district                     int64
disaggregation_category     object
category                    object
total_enrollment             int64
total_blended                int64
percentage_blended         float64
total_remote                 int64
percentage_remote          float64
dtype: object

### Convert the dataframe values to all lower case.

In [43]:
# Convert the value of 'Name' column to lowercase
learning_df['disaggregation_category'] = learning_df['disaggregation_category'].map(str.lower)
learning_df['category'] = learning_df['category'].map(str.lower)
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,all district,all district,10549,3035,28.8,7514,71.2
1,1,english language learner status,ell,908,235,25.9,673,74.1
2,1,english language learner status,not ell,9641,2800,29.0,6841,71.0
3,1,gender,female,5042,1455,28.9,3587,71.1
4,1,gender,male,5507,1580,28.7,3927,71.3

# Visualizations

The main purpose of this assignment is to practice creating various visualizations using the matplotlib and seaborn library.

### **Part 1:**
Using matplotlib, create ***two or more plots*** that incorporate at least **5** of the following properties:

Note: these properties vary based on your data.  The goal is to practice creating visualizations and modifying its properties. 

*   Use and change a legend position
*   Change a legend font size
*   Place a legend outside of the plot
*   Create a single legend for all subplots
*   Change the title and x/y labels
*   Change the marker, line colors, and line width
*   Add annotations
*   Modify Axis Text Ticks/Labels
*   Change size of axis Labels
*   Your own choice not included above 


Plots that you can create **include**:

*   Scatter Plot
*   Bar plot
*   Line Chart
*   Multi Plots (e.g. using .subplot()
*   Histogram

You can add another plot not listed here if it works better for your data.  This is not a complete list of plots to create.

### **Part 2:**

Recreate the visualizations above using the Seaborn library as best as possible.  


**You are required to explain what each of your plots is representing. Plots without comments will not be accepted.**  In addition, please explain the properties you are showcasing.


### **Part 3:**
In a comment or text box, explain the differences between creating a plot in matplotlib and seaborn, based on your above plots.

## **Visualizations - Part 1 Answers**

In [41]:
learning_df.head()

,district,disaggregation_category,category,total_enrollment,total_blended,percentage_blended,total_remote,percentage_remote
0,1,All District,All District,10549,3035,28.8,7514,71.2
1,1,English Language Learner Status,ELL,908,235,25.9,673,74.1
2,1,English Language Learner Status,Not ELL,9641,2800,29.0,6841,71.0
3,1,Gender,Female,5042,1455,28.9,3587,71.1
4,1,Gender,Male,5507,1580,28.7,3927,71.3

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.